{% load basket_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.availability.is_available_to_buy %}
    {% basket_form request product 'single' as basket_form %}
    <form action="{% url 'basket:add' pk=product.pk %}" method="post" id="add_to_card">
        {% csrf_token %}
        {{ basket_form.as_p }}

            <a href="javascript:{}" onclick="document.getElementById('add_to_card').submit()"  class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">
                {% trans 'Add To Cart' %}
                <i class="fa fa-shopping-cart"></i>
            </a>


    </form>
{% else %}
    <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">
        {% trans 'Add To Cart' %}
        <i class="fa fa-shopping-cart"></i>
    </a>
{% endif %}
