{% load i18n %}
{% load wishlist_tags %}
<div class="btn-group btn-wishlist">
{% if user.is_authenticated %}
    {% with wishlists=user.wishlists.all %}
        {# Select wishlists that contains product #}
        {% wishlists_containing_product wishlists product as product_wishlists %}
        {% if wishlists %}


                <a href="#" class="btn-sm-link" data-toggle="dropdown"><i class="fa fa-heart-o pr-10"></i>{% trans "Add to wish list" %} </a>
                <!--<a class="btn btn-large dropdown-toggle"  href="#"></a>-->
                <ul class="dropdown-menu pull-right">
                    {% for wishlist in wishlists %}
                        {% if wishlist not in product_wishlists %}
	                        <li>
                                <a href="{% url 'customer:wishlists-add-product' key=wishlist.key product_pk=product.pk %}">
                                    {% blocktrans with name=wishlist.name %}
                                        Add to '{{ name }}' wish list
                                    {% endblocktrans %}
                                </a>
	                        </li>
						{% endif %}
                    {% endfor %}
                    <li><a href="{% url 'customer:wishlists-create-with-product' product_pk=product.pk %}">{% trans 'Create a new wishlist' %}</a></li>
                </ul>

        {% else %}
            {# 1 or no existing wishlists - show a simple button #}
            <form id="add_to_wishlist_form" action="{% url 'customer:wishlists-add-product' product_pk=product.pk %}" method="post" class="btn-wishlist">
                {% csrf_token %}
                <a href="javascript:{}" onclick="document.getElementById('add_to_wishlist_form').submit()">{% trans "Add to wish list" %}</a>
            </form>
        {% endif %}

        {% for wishlist in product_wishlists %}
            <form id = 'product_wishlist' action="{% url 'customer:wishlists-remove-product' key=wishlist.key product_pk=product.id %}" method="post">
                {% csrf_token %}
                {% blocktrans with name=wishlist.name url=wishlist.get_absolute_url %}
                    <span class="pull-left">Product is in <a href="{{ url }}">'{{ name }}'</a> wishlist.</span>
                {% endblocktrans %}
                <a href="javascript:{}" onclick="document.getElementById('product_wishlist').submit()"> {% trans "Remove" %}</a>
            </form>
        {% endfor %}
    {% endwith %}
{% else %}
    <a href="javascript:alert('Please login to add products to a wish list !')" title="{% trans 'Please login to add products to a wish list.' %}">{% trans 'Add to wish list' %} </a>
<br/>
{% endif %}
</div>
