{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block product %}
<div class="">
    <div class="listing-item white-bg bordered mb-20">
        <div class="overlay-container">
            {% block product_image %}

                {% with image=product.primary_image %}
                    {% if image %}

                        {% thumbnail image.original "x368" upscale=False as thumb %}
                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                        <a class="overlay-link popup-img-single" href="/media/{{ image.original }}">
                            <i class="fa fa-search-plus"></i>
                        </a>
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'images/product-1.jpg' %}" alt="">
                    {% endif %}
                {% endwith %}

            {% endblock %}

            <span class="badge">30% OFF</span>
            {% block product_review %}
            {% iffeature "reviews" %}
                <p class=" star-rating {{ product.rating|as_stars }}">
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                </p>
            {% endiffeature %}
        {% endblock %}
            <div class="overlay-to-top links">
                <span class="small">
                    {% include "catalogue/partials/add_to_wishlist.html" %}
                    <a href="{{ product.get_absolute_url }}" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
                </span>
            </div>
        </div>

        <div class="body">
            {% block product_title %}
                <h3><a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{ product.get_title|truncatewords:4 }}</a></h3>
            {% endblock %}

            <p class="small">{% autoescape off %}{{ product.description }} {% endautoescape %}</p>
            {% block product_price %}
                <div class="elements-list clearfix">
                    {% include "catalogue/partials/stock_record.html" %}
                    {% if not product.is_parent %}
                        {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
