{% extends "layout_2_col.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumb-container row">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{{ homepage_url }}">Home</a></li>
            <li class="active">{{ summary }}</li>
        </ol>
    </div>
</div>
{% endblock breadcrumbs %}

{% block column_left %}
    {% category_tree as tree_categories %}
    {% if tree_categories %}
         <div class="panel panel-default">
            <div class="panel-heading"><h4>{% trans "Show results for" %}</h4></div>


             <div class="panel-body">
                <div class="side_categories">
                <ul class="nav nav-list">
                    {% for tree_category, info in tree_categories %}
                        <li>
                        {% if tree_category.pk == category.pk %}
                            <strong>{{ tree_category.name }}</strong>
                        {% else %}
                            <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                        {% endif %}

                        {% if info.has_children %}<ul>{% else %}</li>{% endif %}
                        {% for n in info.num_to_close %}
                            </ul></li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
             </div>
         </div>

    {% endif %}

    {% if has_facets %}

     <div class="panel panel-default">
        <div class="panel-heading"><h4><h4>{% trans "Refine by" %}</h4></h4></div>
        <div class="panel-body">
            {% for field, data in facet_data.items %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endfor %}
        </div>
     </div>
    {% endif %}
{% endblock %}

{% block content %}

    <form method="get" class="form-horizontal">
        {# Render other search params in a hidden block #}
        <div style="display:none">
            {% for value in selected_facets %}
                <input name="selected_facets" value="{{ value }}" />
            {% endfor %}
            {{ form.q }}
        </div>

        {% if paginator.count %}
            {% if paginator.num_pages > 1 %}
                {% blocktrans with start=page_obj.start_index end=page_obj.end_index num_results=paginator.count %}
                    <strong>{{ num_results }}</strong> results - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                {% endblocktrans %}
            {% else %}
                {% blocktrans count num_results=paginator.count %}
                    <strong>1</strong> result.
                {% plural %}
                    <strong>{{ num_results }}</strong> results.
                {% endblocktrans %}
            {% endif %}
            {% if form %}
                <div class="pull-right">
                    {% include "partials/form_field.html" with field=form.sort_by %}
                </div>
            {% endif %}
        {% else %}
            <p>
                {% trans "<strong>0</strong> results." %}
            </p>
        {% endif %}
    </form>

    {% if products %}

        <section class="section light-gray-bg clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- pills start -->
                        <!-- ================ -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills" role="tablist">
                            <li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="Latest Arrivals"><i class="icon-star"></i> Latest Arrivals</a></li>
                            <li><a href="#pill-2" role="tab" data-toggle="tab" title="Featured"><i class="icon-heart"></i> Featured</a></li>
                            <li><a href="#pill-3" role="tab" data-toggle="tab" title="Top Sellers"><i class=" icon-up-1"></i> Top Sellers</a></li>
                        </ul>
                        <!-- Tab panes -->
							<div class="tab-content clear-style">
								<div class="tab-pane active" id="pill-1">
									<div class="row masonry-grid-fitrows grid-space-10">
										{% for product in products %}
                                            <div class="col-xs-3">
                                                {% render_product product %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                    {% comment %}
                    {% for product in products %}
                        <li class="span3 {% if forloop.counter0|divisibleby:"4" %}no-margin{% endif %}">{% render_product product %}</li>
                    {% endfor %}
                    {% endcomment %}

                    </div>
                </div>


            {% include "partials/pagination.html" %}
        </div>
        </section>




    {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}

{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
