{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumb-container row">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{{ homepage_url }}">Home</a></li>

            {% with category=product.categories.all.0 %}
                {% for c in category.get_ancestors_and_self %}
                <li>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    <span class="divider"></span>
                </li>
                {% endfor %}
                <li class="active">{{ product.title }}</li>

                {% get_back_button as backbutton %}
                {% if backbutton %}
                    <li class="pull-right">
                        <a href="{{ backbutton.url }}">
                            <i class="icon-arrow-left"></i> {{ backbutton.title }}
                        </a>
                    </li>
                {% endif %}
            {% endwith %}
        </ol>
    </div>
</div>
{% endblock %}

{% block header %}
{% endblock header %}


{% block content %}
<div class="row">
    <article class="product_page col-xs-9"><!-- Start of product page -->



        {% block product_gallery %}
        <div class="col-xs-4">
            {% include "catalogue/partials/gallery.html" %}
        </div>
        {% endblock %}

        {% block product_main %}
        <div class="col-xs-8 product_main">
            {% comment %}
            This is a but clunky here.  Better to have some kind of JS-driven dashboard menu that 
            pops out when clicked.  A bit like the Django-Debug-Toolbar button
            {% endcomment %}
            {% if user.is_authenticated and user.is_staff %}
                <a class="pull-right hidden-phone" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
            {% endif %}
            <h1>{{ product.get_title }}</h1>

            {% block product_stock_record %}
                {% include "catalogue/partials/stock_record.html" with verbose=1 %}
            {% endblock %}

            {% iffeature "reviews" %}
                {% include "catalogue/reviews/partials/review_stars.html" %}
            {% endiffeature %}

            <hr/>

            {% block product_basket_form %}
                {% include "catalogue/partials/add_to_basket_form.html" %}
            {% endblock %}
        </div><!-- /span6 -->
        {% endblock %}



        {% block product_description %}
            {% if product.description %}
            <div id="product_description" class="sub-header">
                <h2>{% trans "Product Description" %}</h2>
            </div>
            <p>{{ product.description|safe }}</p>
            {% endif %}
        {% endblock %}

        {% block product_info %}
        <div class="sub-header">
            <h2>{% trans "Product Information" %}</h2>
        </div>
        <table class="table table-striped">
            {% if product.upc %}
            <tr>
                <th>{% trans "UPC" %}</th><td>{{ product.upc }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{% trans "Product Type" %}</th><td>{{ product.get_product_class.name }}</td>
            </tr>

            {% purchase_info_for_product request product as session %}
            {% if session.price.exists %}
                <tr>
                    <th>{% trans "Price (excl. tax)" %}</th><td>{{ session.price.excl_tax|currency:session.price.currency }}</td>
                </tr>
                {% if session.price.is_tax_known %}
                    <tr>
                        <th>{% trans "Price (incl. tax)" %}</th><td>{{ session.price.incl_tax|currency:session.price.currency }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Tax" %}</th><td>{{ session.price.tax|currency:session.price.currency }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{% trans "Availability" %}</th>
                    <td>{{ session.availability.message }}</td>
                </tr>
            {% endif %}
            {% for av in product.attribute_values.all %}
                <tr>
                    <th>{{ av.attribute.name }}</th>
                    <td>{{ av.value_as_html }}</td>
                </tr>
            {% endfor %}
            {% iffeature "reviews" %}
                <tr>
                    <th>{% trans "Number of reviews" %}</th>
                    <td>{{ product.num_approved_reviews }}</td>
                </tr>
            {% endiffeature %}
        </table>
        {% endblock %}

        {% iffeature "reviews" %}
            {% block product_review %}
            <section>
                <div id="reviews" class="sub-header">
                    {% if product.num_approved_reviews > 3 %}
                        <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn pull-right">{% trans "See all reviews" %}</a>
                    {% endif %}
                    <h2>{% trans "Customer Reviews" %}</h2>
                </div>

                {% if product.num_approved_reviews == 0 %}
                    <p>
                        {% if product|is_review_permitted:user %}
                            {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                                {% blocktrans %}This product does not have any reviews yet -
                                <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                            {% endblocktrans %}
                        {% else %}
                            {% trans "This product does not have any reviews yet" %}.
                        {% endif %}
                    </p>
                {% else %}
                    <ol class="unstyled review-list">
                        {% for review in reviews|slice:":3" %}
                            <li>
                            {% include 'catalogue/partials/review.html' %}
                            </li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </section>
            {% endblock product_review %}
        {% endiffeature %}

    </article><!-- End of product page -->

    <div class="col-xs-3">
            {% with recommended_products=product.recommended_products.all|slice:":6" %}
            {% if recommended_products %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>{% trans "Recommended items" %}</span>
                    </div>
                    <div class="panel-body">
                        <ul class="row-fluid">
                            {% for product in recommended_products %}
                            <li class="{% if forloop.counter0|divisibleby:"6" %}no-margin{% endif %}">
                                {% render_product product %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        <!--recently viewed products list-->
        <aside class="product-detail">{% recently_viewed_products %}</aside>


    </div>
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
