{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}
<ul class="dropdown-menu-right dropdown-animation cart basket-mini-item unstyled">
    {% if request.basket.num_lines %}
    <li>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="quantity">{% trans "Qty" %}</th>
                    <th class="quantity">Image</th>
                    <th class="product">Product</th>
                    <th class="amount">Subtotal</th>
                </tr>
            </thead>
            <tbody>
        {% for line in request.basket.all_lines %}
                <tr>
                    <td class="quantity">{{ line.quantity }}</td>
                    <td class="image">
                        <div class="image_container">
                            {% with image=line.product.primary_image %}
                                {% thumbnail image.original "100x100" upscale=False as thumb %}
                                <a href="{{ line.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ line.product.get_title }}"></a>
                                {% endthumbnail %}
                            {% endwith %}
                        </div>
                    </td>
                    <td class="product"><a href="{{ line.product.get_absolute_url }}">{{ line.title }}</a>
                        <span class="small">{{ line.description }}</span>
                    </td>
                    <td class="amount">{{ line.unit_price_excl_tax|currency:request.basket.currency }}</td>
                </tr>

        {% endfor %}
        </tbody>
        </table>
        <div class="panel-body text-right">
            <a href="{% url 'basket:summary' %}" class="btn btn-group btn-gray btn-sm">View Cart</a>
            <a href="{% url 'checkout:index' %}" class="btn btn-group btn-gray btn-sm">Checkout</a>
        </div>
    </li>
    {% else %}
        <li><p>{% trans "Your basket is empty." %}</p></li>
    {% endif %}

</ul>

