{# <div class="span7 h1"><a href="{{ homepage_url }}">{% block brand_title %}{{ shop_name }}</a><small> {{ shop_tagline }}</small>{% endblock %}</div> #}
<!-- logo -->
<div id="logo" class="logo">
    <a href="{{ homepage_url }}">{% block brand_title %}{{ shop_name }} {% endblock %}</a>
</div>

<!-- name-and-slogan -->
<div class="site-slogan">
    {{ shop_tagline }}
</div>
