{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
    <div class="container-fluid">

        <!-- Toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <!-- main-menu -->
            <ul class="nav navbar-nav ">
                <li class="dropdown active {% if expand_dropdown %}open{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ homepage_url }}">{% trans 'Home' %}</a>

                    <ul class="dropdown-menu" data-navigation="dropdown-menu">

                        {% category_tree depth=2 as tree_categories %}
                        <li><a tabindex="-1" href="{% url 'catalogue:index' %}">{% trans "All products" %}</a></li>
                        {% if tree_categories %}
                        <li class="divider"></li>
                        {% for tree_category, info in tree_categories %}
                        {% if info.has_children %}
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                            <ul class="dropdown-menu">
                                {% else %}
                                <li><a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a></li>
                                {% endif %}

                                {% for close in info.num_to_close %}
                            </ul>
                        </li>
                        {% endfor %}
                        {% endfor %}
                        {% endif %}
                        <li class="divider"></li>
                        {% block nav_dropdown_extra_items %}
                        <li><a href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li>
                        {% endblock %}
                    </ul>
                </li>
                {% block nav_extra %}
                {% endblock %}


            </ul>
            <!-- main-menu end -->


            <!-- header dropdown buttons done -->
            <div class="header-dropdown-buttons hidden-xs ">
                <div class="btn-group dropdown">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                        <li>
                            {% include "partials/search.html" %}
                        </li>
                    </ul>
                </div>

                <div class="btn-group dropdown">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-basket-1"></i><span class="cart-count default-bg">{{request.basket.all_lines.count}}</span>
                    </button>
                    <ul class="dropdown-menu pull-right dropdown-menu dropdown-menu-right dropdown-animation cart">
                        <li>{% include "basket/partials/basket_quick.html" %}</li>
                    </ul>

                </div>
            </div>
            <!-- header dropdown buttons end-->

        </div>

    </div>
</nav>
