{% load i18n %}
{% comment %}
<form method="get" action="{% url 'search:search' %}" class="navbar-form pull-right">
    {{ search_form.q }}
    <input type="submit" value="{% trans "Search" %}" class="btn" />
</form>
{% endcomment %}

<form role="search" class="search-box margin-clear">
    <div class="form-group has-feedback">
        <input id="id_q" name="q" placeholder="Search" tabindex="1" type="search" class="form-control" placeholder="Search">
        <i class="icon-search form-control-feedback"></i>
    </div>
</form>
