{% load i18n compress %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js"> <!--<![endif]-->
    <head>
        <title>{% if display_version %}[{% trans "Build" %} {{ version }}] {% endif %}{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="created" content="{% now "jS M Y h:i" %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />
        <meta name="robots" content="NONE,NOARCHIVE" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block favicon %}
            <link rel="shortcut icon" href="{% static "oscar/favicon.ico" %}" />
        {% endblock %}

        {% block mainstyles %}
            {% comment %}
            We use an inner block to work-around the fact that django-compressor doesn't work with
            template inheritance.  Ie, we can't just wrap the {% block mainstyles %} with compress tags and
            expect it to compress CSS files added in child templates.
            {% endcomment %}
            {% block styles %}
                {% comment %}
                If you are developing Oscar's CSS, or overriding Oscar's CSS
                files in your project, then set USE_LESS = True in your
                settings file.  You will also need to ensure that the 'lessc'
                executable is available and you have COMPRESS_PRECOMPILERS specified
                correctly.
                {% endcomment %}

            {% endblock %}

            <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

        <!-- Font Awesome CSS -->
        <link href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

        <!-- Fontello CSS -->
        <link href="{% static 'fonts/fontello/css/fontello.css' %}" rel="stylesheet">

        <!-- Plugins -->
        <link href="{% static 'plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/rs-plugin/css/settings.css' %}" rel="stylesheet">
        <link href="{% static 'css/animations.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/owl-carousel/owl.transitions.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/hover/hover-min.css' %}" rel="stylesheet">
        
        <!-- the project core CSS file -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" >

        <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
        <link href="{% static 'css/skins/light_blue.css' %}" rel="stylesheet">

        <!-- Custom css --> 
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">



        {% endblock %}

        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}{% endblock %}

        {% block extrahead %}{% endblock %}
    </head>
    <body class="no-trans front-page transparent-header {% block body_class %}default{% endblock %}" id="{% block body_id %}default{% endblock %}">

        <!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
        <!-- page wrapper start -->
        <!-- ================ -->
        <div class="page-wrapper">
        {# Main content goes in this 'layout' block #}
        {% block layout %}

        {% endblock layout %}
        </div>

        {% block tracking %}
            {# Default to using Google analytics #}
            {% include "partials/google_analytics.html" %}
        {% endblock %}

        {% comment %}
        Scripts loaded from a CDN.  These can't be wrapped by the 'compress' tag and so we
        use a separate block for them.
        {% endcomment %}
        {% block cdn_scripts %}
            <!-- jQuery -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
            <script>window.jQuery || document.write('<script src="{% static "oscar/js/jquery/jquery-1.9.1.min.js" %}"><\/script>')</script>
        {% endblock %}

        <!-- JavaScript files placed at the end of the document so the pages load faster -->
		<!-- ================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<!--<script type="text/javascript" src="{% static 'plugins/jquery.min.js' %}"></script>-->
		<!--<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>-->

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="{% static 'plugins/modernizr.js' %}"></script>

		<!-- jQuery Revolution Slider  -->
		<script type="text/javascript" src="{% static 'plugins/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'plugins/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>




		<!-- Isotope javascript -->
		<script type="text/javascript" src="{% static 'plugins/isotope/isotope.pkgd.min.js' %}"></script>

		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src="{% static 'plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="{% static 'plugins/waypoints/jquery.waypoints.min.js' %}"></script>

		<!-- Count To javascript -->
		<script type="text/javascript" src="{% static 'plugins/jquery.countTo.js' %}"></script>

		<!-- Parallax javascript -->
		<script src="{% static 'plugins/jquery.parallax-1.1.3.js' %}"></script>

		<!-- Contact form -->
		<script src="{% static 'plugins/jquery.validate.js' %"></script>

		<!-- Background Video -->
		<script src="{% static 'plugins/vide/jquery.vide.js' %}"></script>

		<!-- Owl carousel javascript -->
		<script type="text/javascript" src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script>

		<!-- SmoothScroll javascript -->
		<script type="text/javascript" src="{% static 'plugins/jquery.browser.js' %}"></script>
		<script type="text/javascript" src="{% static 'plugins/SmoothScroll.js' %}"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="{% static 'js/template.js' %}"></script>
        {# Local scripts #}
        {% block scripts %}
            {% compress js %}
            <!-- Twitter Bootstrap -->
            <script type="text/javascript" src="{% static "oscar/js/bootstrap/bootstrap.min.js" %}"></script>
            <!-- Oscar -->
            <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>
            {% endcompress %}
        {% endblock %}

		<!-- Custom Scripts -->
		<!--<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>-->


        {# Additional JS scripts #}
        {% block extrascripts %}{% endblock %}

        {# Block for body onload functions #}
        <script type="text/javascript">
            $(function() {
                oscar.init();
                {% block onbodyload %}{% endblock %}
            });
        </script>

        {# Page meta-data - this is populated by the 'metadata' template context processor #}
        <!-- {% trans "Version:" %} {{ version }} -->
    </body>
</html>
